In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator

In [2]:
#map csv
austin = "CSV/Louisville.csv"
#austin_df = pd.read_csv(austin)
louisville_df = pd.read_csv(austin, encoding = 'latin-1')
louisville_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
0,0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,5.205556
1,1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,...,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,9.409722
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
3,6,A278854,CAT,2006-08-17 14:28:00,STRAY,OTC,BROWN TIGER,DOMESTIC SHORTHAIR,NaN,FEMALE,...,HEALTHY,FERTILE,2006-08-28 11:30:00,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE,10.876389
4,7,A278862,CAT,2006-08-17 14:28:00,STRAY,OTC,GRAY,DOMESTIC SHORTHAIR,NaN,MALE,...,HEALTHY,FERTILE,2006-08-28 09:20:00,DIED,IN KENNEL,NaN,NaN,HEALTHY,FERTILE,10.786111

In [3]:
dog_df = louisville_df.loc[(louisville_df['AnimalType'] == "DOG"), : ]
dog_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
8,11,A279338,DOG,2006-08-23 08:22:00,STRAY,FIELD,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-08-30 09:18:00,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE,7.038889
10,13,A288560,DOG,2006-10-15 22:09:00,STRAY,FIELD,BROWN,BLOODHOUND,MIX,MALE,...,HEALTHY,FERTILE,2006-10-24 13:46:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,8.650694
13,16,A296878,DOG,2007-01-29 18:07:00,STRAY,OTC,CHOCOLATE,LABRADOR RETRIEVER,NaN,FEMALE,...,HEALTHY,FERTILE,2007-02-08 12:27:00,TRANSFER,RESCUE GRP,NaN,NaN,HEALTHY,FERTILE,9.763889
14,17,A296987,DOG,2007-01-30 18:03:00,OWNER SUR,OTC,TAN,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2007-02-01 11:37:00,RTO,NaN,NaN,NaN,HEALTHY,FERTILE,1.731944

In [4]:
louisville_df['DOB'].replace('', np.nan, inplace=True)
louisville_df.dropna(subset=['DOB'], inplace=True)
louisville_df.dropna(subset=['OutcomeDate'], inplace=True)
louisville_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
14,17,A296987,DOG,2007-01-30 18:03:00,OWNER SUR,OTC,TAN,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2007-02-01 11:37:00,RTO,NaN,NaN,NaN,HEALTHY,FERTILE,1.731944
23,27,A440609,DOG,2012-01-04 15:56:00,STRAY,OTC,BROWN BRINDLE,PLOTT HOUND,MIX,SPAYED FEMALE,...,HEALTHY,ALTERED,2012-02-09 16:40:00,FOSTER,RES WAGON,NaN,NaN,HEALTHY,ALTERED,36.030556
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056
42,47,A318940,DOG,2007-07-19 08:58:00,OUTSURGERY,NaN,BROWN BRINDLE,MASTIFF,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2007-07-19 04:28:00,RELEASED,IN SURGERY,NaN,NaN,HEALTHY,ALTERED,-0.187500

In [5]:
from datetime import datetime



time_outcome = louisville_df["OutcomeDate"].tolist()
time_dob = louisville_df["DOB"].tolist()
outcome_list = []
dob_list = []


len(time_outcome)

#age_list
#age = map(operator.sub, time_outcome, time_dob)
#print(age)

91877

In [6]:
for time in time_outcome:
    
    converted_outcome = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    outcome_list.append(converted_outcome)

for time in time_dob:
    converted_dob = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    dob_list.append(converted_dob)

#louisville_df["AdoptionAge"] = louisville_df["OutcomeDate"] - louisville_df["DOB"]

In [7]:
zip(outcome_list, dob_list) # Just to demonstrate
age = [x - y for x, y in zip(outcome_list, dob_list)]

In [9]:
ages_df = pd.DataFrame(
    {'DOB': dob_list,
     'AdoptionDate': outcome_list,
     'Delta': age
    })
ages_df.head()

         AdoptionDate        DOB             Delta
0 2006-09-12 13:44:00 2005-09-11 366 days 13:44:00
1 2007-02-01 11:37:00 2006-07-30 186 days 11:37:00
2 2012-02-09 16:40:00 2010-02-16 723 days 16:40:00
3 2005-04-15 15:03:00 2003-03-18 759 days 15:03:00
4 2007-07-19 04:28:00 2006-06-11 403 days 04:28:00

In [12]:
from dateutil.relativedelta import relativedelta
years = []
for index, row in ages_df.iterrows():
    difference_in_years = relativedelta(row["AdoptionDate"], row["DOB"]).years
    years.append(difference_in_years)

In [16]:
years

[1,
 0,
 1,
 2,
 1,
 0,
 0,
 6,
 6,
 0,
 9,
 5,
 4,
 0,
 0,
 0,
 0,
 0,
 10,
 1,
 9,
 0,
 2,
 5,
 0,
 0,
 5,
 7,
 0,
 4,
 17,
 3,
 1,
 1,
 0,
 2,
 0,
 1,
 3,
 10,
 3,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 7,
 15,
 0,
 0,
 7,
 0,
 9,
 2,
 0,
 5,
 1,
 3,
 8,
 0,
 0,
 0,
 0,
 3,
 3,
 4,
 5,
 1,
 3,
 0,
 2,
 2,
 0,
 0,
 2,
 8,
 1,
 0,
 2,
 1,
 5,
 0,
 1,
 6,
 1,
 15,
 2,
 1,
 1,
 0,
 0,
 2,
 1,
 11,
 8,
 3,
 4,
 0,
 5,
 1,
 0,
 2,
 1,
 3,
 1,
 0,
 4,
 11,
 0,
 0,
 15,
 0,
 0,
 0,
 3,
 7,
 1,
 5,
 0,
 3,
 0,
 1,
 0,
 18,
 1,
 1,
 2,
 8,
 10,
 0,
 5,
 2,
 1,
 1,
 3,
 2,
 0,
 2,
 2,
 0,
 4,
 11,
 6,
 0,
 2,
 6,
 1,
 2,
 3,
 0,
 4,
 7,
 1,
 1,
 0,
 14,
 0,
 0,
 3,
 1,
 3,
 4,
 1,
 1,
 8,
 1,
 3,
 0,
 0,
 2,
 1,
 3,
 4,
 0,
 10,
 1,
 0,
 0,
 0,
 17,
 0,
 1,
 9,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 12,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 1,
 15,
 1,
 7,
 0,
 1,
 0,
 0,
 2,
 1,
 11,
 2,
 1,
 4,
 2,
 1,
 10,
 1,
 3,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 13,
 3,
 2,
 1,
 1,
 0,
 0,
 0,
 13,
 0,
 12,
 7,
 1,
 1,
 1,
 3,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 3,
 1,
 0,
 9,
 0,
 1,
 2,
 0,
 16,
 0,
 0,
 0,
 1,
 1,
 5,
 0,
 5,
 0,
 0,
 0,
 0,
 7,
 3,
 0,
 11,
 0,
 1,
 2,
 4,
 2,
 0,
 0,
 0,
 1,
 10,
 2,
 0,
 3,
 8,
 2,
 0,
 0,
 0,
 5,
 1,
 1,
 3,
 0,
 3,
 12,
 0,
 0,
 9,
 2,
 4,
 1,
 1,
 1,
 12,
 1,
 0,
 15,
 0,
 1,
 0,
 2,
 3,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 15,
 2,
 0,
 2,
 6,
 5,
 0,
 2,
 0,
 0,
 4,
 3,
 4,
 1,
 3,
 3,
 0,
 0,
 2,
 4,
 0,
 8,
 0,
 17,
 7,
 1,
 13,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 9,
 1,
 1,
 3,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 5,
 4,
 8,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 3,
 3,
 0,
 2,
 5,
 1,
 2,
 2,
 1,
 3,
 0,
 5,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 5,
 0,
 0,
 2,
 21,
 4,
 0,
 6,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 4,
 1,
 0,
 0,
 0,
 9,
 4,
 0,
 0,
 7,
 12,
 0,
 1,
 1,
 3,
 1,
 5,
 0,
 3,
 0,
 0,
 2,
 15,
 2,
 2,
 1,
 10,
 2,
 5,
 0,
 3,
 0,
 0,
 0,
 3,
 0,
 2,
 3,
 6,
 2,
 1,
 0,
 2,
 1,
 1,
 15,
 1,
 4,
 3,
 0,
 0,
 3,
 0,
 0,
 3,
 1,
 0,
 0,
 1,
 1,
 0,
 3,
 2,
 4,
 1,
 0,
 0,
 0,
 0,
 2,
 10,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 11,
 7,
 8,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 4,
 20,
 15,
 1,
 4,
 0,
 6,
 6,
 3,
 0,
 0,
 10,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 5,
 0,
 2,
 3,
 1,
 2,
 4,
 0,
 6,
 3,
 0,
 0,
 1,
 4,
 1,
 3,
 2,
 0,
 1,
 0,
 7,
 3,
 0,
 3,
 1,
 2,
 0,
 1,
 16,
 9,
 0,
 0,
 0,
 0,
 6,
 18,
 0,
 6,
 0,
 4,
 3,
 0,
 4,
 2,
 0,
 0,
 2,
 8,
 0,
 5,
 0,
 1,
 11,
 0,
 1,
 1,
 9,
 1,
 11,
 6,
 0,
 3,
 0,
 0,
 3,
 2,
 1,
 4,
 1,
 4,
 0,
 1,
 12,
 9,
 2,
 7,
 15,
 10,
 5,
 4,
 0,
 15,
 5,
 1,
 16,
 0,
 6,
 0,
 5,
 3,
 4,
 3,
 1,
 8,
 3,
 4,
 0,
 1,
 3,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 7,
 12,
 3,
 3,
 1,
 2,
 0,
 0,
 7,
 1,
 3,
 18,
 2,
 2,
 1,
 0,
 9,
 4,
 1,
 9,
 1,
 8,
 1,
 0,
 17,
 2,
 5,
 0,
 0,
 0,
 4,
 1,
 3,
 0,
 2,
 0,
 1,
 0,
 5,
 1,
 3,
 0,
 12,
 1,
 0,
 1,
 0,
 0,
 6,
 22,
 0,
 0,
 3,
 6,
 1,
 2,
 19,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 10,
 2,
 3,
 1,
 0,
 0,
 2,
 0,
 4,
 1,
 0,
 0,
 0,
 3,
 8,
 0,
 0,
 1,
 1,
 1,
 0,
 4,
 1,
 0,
 14,
 4,
 7,
 9,
 0,
 0,
 1,
 12,
 0,
 2,
 2,
 0,
 3,
 0,
 1,
 0,
 15,
 1,
 1,
 0,
 4,
 0,
 0,
 6,
 0,
 0,
 1,
 0,
 5,
 0,
 3,
 0,
 2,
 5,
 1,
 8,
 5,
 5,
 3,
 0,
 1,
 3,
 0,
 0,
 5,
 3,
 2,
 0,
 0,
 0,
 0,
 6,
 0,
 0,
 0,
 1,
 0,
 9,
 0,
 0,
 7,
 0,
 0,
 6,
 7,
 3,
 0,
 13,
 0,
 0,
 6,
 0,
 2,
 3,
 0,
 1,
 1,
 0,
 8,
 2,
 0,
 0,
 0,
 1,
 2,
 0,
 2,
 10,
 10,
 8,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 11,
 2,
 10,
 0,
 0,
 0,
 2,
 7,
 0,
 0,
 14,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 5,
 0,
 2,
 1,
 14,
 13,
 3,
 1,
 0,
 3,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 4,
 0,
 3,
 5,
 6,
 5,
 1,
 1,
 4,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 8,
 0,
 1,
 5,
 4,
 0,
 3,
 3,
 3,
 6,
 0,
 0,
 8,
 0,
 2,
 0,
 3,
 0,
 1,
 7,
 1,
 1,
 1,
 0,
 2,
 0,
 11,
 5,
 0,
 0,
 3,
 14,
 0,
 3,
 1,
 3,
 0,
 0,
 4,
 9,
 5,
 0,
 0,
 1,
 0,
 9,
 0,
 0,
 9,
 4,
 0,
 3,
 0,
 1,
 0,
 6,
 0,
 2,
 0,
 8,
 0,
 11,
 13,
 2,
 3,
 2,
 0,
 1,
 0,
 9,
 0,
 0,
 0,
 3,
 5,
 6,
 1,
 0,
 10,
 0,
 6,
 0,
 1,
 8,
 11,
 0,
 1,
 0,
 0,
 1,
 4,
 1,
 ...]