In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator

In [2]:
#map csv
austin = "CSV/Louisville.csv"
#austin_df = pd.read_csv(austin)
louisville_df = pd.read_csv(austin, encoding = 'latin-1')
louisville_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
0,0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,5.205556
1,1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,...,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,9.409722
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
3,6,A278854,CAT,2006-08-17 14:28:00,STRAY,OTC,BROWN TIGER,DOMESTIC SHORTHAIR,NaN,FEMALE,...,HEALTHY,FERTILE,2006-08-28 11:30:00,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE,10.876389
4,7,A278862,CAT,2006-08-17 14:28:00,STRAY,OTC,GRAY,DOMESTIC SHORTHAIR,NaN,MALE,...,HEALTHY,FERTILE,2006-08-28 09:20:00,DIED,IN KENNEL,NaN,NaN,HEALTHY,FERTILE,10.786111

In [4]:
dog_df = louisville_df.loc[(louisville_df['AnimalType'] == "DOG"),  : ]
dog_adopt_df = dog_df.loc[(dog_df['OutcomeType'] == "ADOPTION"), : ]
dog_adopt_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056
142,153,A356210,DOG,2008-07-09 23:59:00,STRAY,FIELD,BROWN,LABRADOR RETRIEVER,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2008-08-01 16:17:00,ADOPTION,FRIEND,NaN,NORMAL,HEALTHY,ALTERED,22.679167
332,351,A000584,DOG,2005-03-21 11:44:00,STRAY,FIELD,TAN,GOLDEN RETRIEVER,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2005-03-26 08:07:00,ADOPTION,RESCUE GRP,NaN,NaN,HEALTHY,ALTERED,4.849306
593,625,A241543,DOG,2005-06-14 10:19:00,STRAY,OTC,BROWN,ST BERNARD - SMOOTH COATED,MIX,SPAYED FEMALE,...,HEALTHY,ALTERED,2005-06-28 13:04:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,14.114583
697,730,A272623,DOG,2006-06-03 12:57:00,STRAY,OTC,GRAY,AUSTRALIAN CATTLE DOG,NaN,SPAYED FEMALE,...,HEALTHY,ALTERED,2006-07-12 23:59:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,39.459722

In [5]:
dog_adopt_df['DOB'].replace('', np.nan, inplace=True)
dog_adopt_df.dropna(subset=['DOB'], inplace=True)
dog_adopt_df.dropna(subset=['OutcomeDate'], inplace=True)
dog_adopt_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056
332,351,A000584,DOG,2005-03-21 11:44:00,STRAY,FIELD,TAN,GOLDEN RETRIEVER,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2005-03-26 08:07:00,ADOPTION,RESCUE GRP,NaN,NaN,HEALTHY,ALTERED,4.849306
697,730,A272623,DOG,2006-06-03 12:57:00,STRAY,OTC,GRAY,AUSTRALIAN CATTLE DOG,NaN,SPAYED FEMALE,...,HEALTHY,ALTERED,2006-07-12 23:59:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,39.459722
733,769,A295547,DOG,2007-01-15 16:59:00,STRAY,FIELD,TAN,PEKINGESE,CHOW CHOW,NEUTERED MALE,...,HEALTHY,ALTERED,2007-02-13 10:58:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,28.749306
756,793,A451834,DOG,2012-02-03 14:45:00,OWNER SUR,OTC,WHITE,BICHON FRISE,MALTESE,NEUTERED MALE,...,HEALTHY,ALTERED,2012-02-12 11:16:00,ADOPTION,PS HURST,NaN,NaN,HEALTHY,ALTERED,8.854861

In [6]:
from datetime import datetime



time_outcome = dog_adopt_df["OutcomeDate"].tolist()
time_dob = dog_adopt_df["DOB"].tolist()
outcome_list = []
dob_list = []


len(time_dob)

#age_list
#age = map(operator.sub, time_outcome, time_dob)
#print(age)

13413

In [7]:
for time in time_outcome:
    
    converted_outcome = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    outcome_list.append(converted_outcome)

for time in time_dob:
    converted_dob = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    dob_list.append(converted_dob)

#louisville_df["AdoptionAge"] = louisville_df["OutcomeDate"] - louisville_df["DOB"]

In [8]:
zip(outcome_list, dob_list) # Just to demonstrate
age = [x - y for x, y in zip(outcome_list, dob_list)]

In [9]:
ages_df = pd.DataFrame(
    {'DOB': dob_list,
     'AdoptionDate': outcome_list,
     'Delta': age
    })
ages_df.head()

         AdoptionDate        DOB              Delta
0 2005-04-15 15:03:00 2003-03-18  759 days 15:03:00
1 2005-03-26 08:07:00 1998-03-26 2557 days 08:07:00
2 2006-07-12 23:59:00 2003-06-03 1135 days 23:59:00
3 2007-02-13 10:58:00 2006-02-15  363 days 10:58:00
4 2012-02-12 11:16:00 2009-02-03 1104 days 11:16:00

In [10]:
from dateutil.relativedelta import relativedelta
years = []
for index, row in ages_df.iterrows():
    difference_in_years = relativedelta(row["AdoptionDate"], row["DOB"]).years
    years.append(difference_in_years)

In [11]:
len(years)

13413

In [12]:
dog_adopt_df["Age"] = years
dog_adopt_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome,Age
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056,2
332,351,A000584,DOG,2005-03-21 11:44:00,STRAY,FIELD,TAN,GOLDEN RETRIEVER,NaN,NEUTERED MALE,...,ALTERED,2005-03-26 08:07:00,ADOPTION,RESCUE GRP,NaN,NaN,HEALTHY,ALTERED,4.849306,7
697,730,A272623,DOG,2006-06-03 12:57:00,STRAY,OTC,GRAY,AUSTRALIAN CATTLE DOG,NaN,SPAYED FEMALE,...,ALTERED,2006-07-12 23:59:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,39.459722,3
733,769,A295547,DOG,2007-01-15 16:59:00,STRAY,FIELD,TAN,PEKINGESE,CHOW CHOW,NEUTERED MALE,...,ALTERED,2007-02-13 10:58:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,28.749306,0
756,793,A451834,DOG,2012-02-03 14:45:00,OWNER SUR,OTC,WHITE,BICHON FRISE,MALTESE,NEUTERED MALE,...,ALTERED,2012-02-12 11:16:00,ADOPTION,PS HURST,NaN,NaN,HEALTHY,ALTERED,8.854861,3

In [20]:
age_bins = [0,1,3,5,7,9, 25]
age_labels = ["<1", "1-3", "3-5", "5-7", "7-9", ">9"]
dog_adopt_df["Age Range"] = pd.cut(dog_adopt_df["Age"], age_bins, labels=age_labels)
#dog_adopt= dog_df.loc[(dog_df['OutcomeType'] == "Adoption"), : ]
dog_group = dog_adopt_df.groupby("Age Range")
dogs_groups = dog_group["OutcomeType"].value_counts()
dogs_groups
#dogs_groups_df = pd.DataFrame(dogs_groups)
#dogs_groups_df
#dogs_groups_df.unstack(level = 0)
#dogs_groups_adopt = dogs_groups_df.loc[(dogs_groups_df["OutcomeType"] == "Adoption"), : ]
#dogs_groups_df.index["ADOPTION"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Age Range  OutcomeType
<1         ADOPTION       3009
1-3        ADOPTION       3039
3-5        ADOPTION       1161
5-7        ADOPTION        465
7-9        ADOPTION        207
>9         ADOPTION        186
Name: OutcomeType, dtype: int64