In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator

In [2]:
#map csv
austin = "CSV/Louisville.csv"
#austin_df = pd.read_csv(austin)
louisville_df = pd.read_csv(austin, encoding = 'latin-1')
louisville_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
0,0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,5.205556
1,1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,...,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,9.409722
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
3,6,A278854,CAT,2006-08-17 14:28:00,STRAY,OTC,BROWN TIGER,DOMESTIC SHORTHAIR,NaN,FEMALE,...,HEALTHY,FERTILE,2006-08-28 11:30:00,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE,10.876389
4,7,A278862,CAT,2006-08-17 14:28:00,STRAY,OTC,GRAY,DOMESTIC SHORTHAIR,NaN,MALE,...,HEALTHY,FERTILE,2006-08-28 09:20:00,DIED,IN KENNEL,NaN,NaN,HEALTHY,FERTILE,10.786111

In [4]:
dog_df = louisville_df.loc[(louisville_df['AnimalType'] == "DOG"), : ]
dog_df.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
8,11,A279338,DOG,2006-08-23 08:22:00,STRAY,FIELD,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-08-30 09:18:00,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE,7.038889
10,13,A288560,DOG,2006-10-15 22:09:00,STRAY,FIELD,BROWN,BLOODHOUND,MIX,MALE,...,HEALTHY,FERTILE,2006-10-24 13:46:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,8.650694
13,16,A296878,DOG,2007-01-29 18:07:00,STRAY,OTC,CHOCOLATE,LABRADOR RETRIEVER,NaN,FEMALE,...,HEALTHY,FERTILE,2007-02-08 12:27:00,TRANSFER,RESCUE GRP,NaN,NaN,HEALTHY,FERTILE,9.763889
14,17,A296987,DOG,2007-01-30 18:03:00,OWNER SUR,OTC,TAN,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2007-02-01 11:37:00,RTO,NaN,NaN,NaN,HEALTHY,FERTILE,1.731944

In [5]:
dog_df['DOB'].replace('', np.nan, inplace=True)
dog_df.dropna(subset=['DOB'], inplace=True)
dog_df.dropna(subset=['OutcomeDate'], inplace=True)
dog_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278
14,17,A296987,DOG,2007-01-30 18:03:00,OWNER SUR,OTC,TAN,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2007-02-01 11:37:00,RTO,NaN,NaN,NaN,HEALTHY,FERTILE,1.731944
23,27,A440609,DOG,2012-01-04 15:56:00,STRAY,OTC,BROWN BRINDLE,PLOTT HOUND,MIX,SPAYED FEMALE,...,HEALTHY,ALTERED,2012-02-09 16:40:00,FOSTER,RES WAGON,NaN,NaN,HEALTHY,ALTERED,36.030556
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056
42,47,A318940,DOG,2007-07-19 08:58:00,OUTSURGERY,NaN,BROWN BRINDLE,MASTIFF,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2007-07-19 04:28:00,RELEASED,IN SURGERY,NaN,NaN,HEALTHY,ALTERED,-0.187500

In [6]:
from datetime import datetime



time_outcome = dog_df["OutcomeDate"].tolist()
time_dob = dog_df["DOB"].tolist()
outcome_list = []
dob_list = []


len(time_dob)

#age_list
#age = map(operator.sub, time_outcome, time_dob)
#print(age)

53104

In [7]:
for time in time_outcome:
    
    converted_outcome = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    outcome_list.append(converted_outcome)

for time in time_dob:
    converted_dob = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    dob_list.append(converted_dob)

#louisville_df["AdoptionAge"] = louisville_df["OutcomeDate"] - louisville_df["DOB"]

In [8]:
zip(outcome_list, dob_list) # Just to demonstrate
age = [x - y for x, y in zip(outcome_list, dob_list)]

In [9]:
ages_df = pd.DataFrame(
    {'DOB': dob_list,
     'AdoptionDate': outcome_list,
     'Delta': age
    })
ages_df.head()

         AdoptionDate        DOB             Delta
0 2006-09-12 13:44:00 2005-09-11 366 days 13:44:00
1 2007-02-01 11:37:00 2006-07-30 186 days 11:37:00
2 2012-02-09 16:40:00 2010-02-16 723 days 16:40:00
3 2005-04-15 15:03:00 2003-03-18 759 days 15:03:00
4 2007-07-19 04:28:00 2006-06-11 403 days 04:28:00

In [10]:
from dateutil.relativedelta import relativedelta
years = []
for index, row in ages_df.iterrows():
    difference_in_years = relativedelta(row["AdoptionDate"], row["DOB"]).years
    years.append(difference_in_years)

In [11]:
len(years)

53104

In [12]:
dog_df["Age"] = years
dog_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Days between Intake and Outcome,Age
2,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278,1
14,17,A296987,DOG,2007-01-30 18:03:00,OWNER SUR,OTC,TAN,PIT BULL TERRIER,NaN,MALE,...,FERTILE,2007-02-01 11:37:00,RTO,NaN,NaN,NaN,HEALTHY,FERTILE,1.731944,0
23,27,A440609,DOG,2012-01-04 15:56:00,STRAY,OTC,BROWN BRINDLE,PLOTT HOUND,MIX,SPAYED FEMALE,...,ALTERED,2012-02-09 16:40:00,FOSTER,RES WAGON,NaN,NaN,HEALTHY,ALTERED,36.030556,1
36,40,A000399,DOG,2005-02-18 11:37:00,STRAY,OTC,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,...,ALTERED,2005-04-15 15:03:00,ADOPTION,NaN,NaN,NaN,HEALTHY,ALTERED,56.143056,2
42,47,A318940,DOG,2007-07-19 08:58:00,OUTSURGERY,NaN,BROWN BRINDLE,MASTIFF,NaN,NEUTERED MALE,...,ALTERED,2007-07-19 04:28:00,RELEASED,IN SURGERY,NaN,NaN,HEALTHY,ALTERED,-0.187500,1

In [16]:
age_bins = [0,1,3,5,7,9, 25]
age_labels = ["<1", "1-3", "3-5", "5-7", "7-9", ">9"]
dog_df["Age Range"] = pd.cut(dog_df["Age"], age_bins, labels=age_labels)
#dog_adopt= dog_df.loc[(dog_df['OutcomeType'] == "Adoption"), : ]
dog_group = dog_df.groupby("Age Range")
dogs_groups = dog_group["OutcomeType"].value_counts()
dogs_groups_df = pd.DataFrame(dogs_groups)
dogs_groups_df
#dogs_groups_df.unstack(level = 0)
#dogs_groups_adopt = dogs_groups_df.loc[(dogs_groups_df["OutcomeType"] == "Adoption"), : ]
#dogs_groups_df.index["ADOPTION"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                       OutcomeType
Age Range OutcomeType
<1        ADOPTION            3009
          EUTH                2493
          RTO                 1885
          TRANSFER            1469
          RELEASED             574
          TRANSPORT            369
          FOSTER               111
          DISPOSAL              87
          MISSING               52
          DIED                  23
          ET PROCESS             3
          NO SHOW                3
          RELOCATE               3
          RELEASE                1
1-3       ADOPTION            3039
          EUTH                3038
          RTO                 2817
          TRANSFER            1848
          RELEASED             514
          TRANSPORT            455
          FOSTER               178
          DISPOSAL             174
          MISSING               52
          DIED                  38
          NO SHOW                8
          RELOCATE               3
          MISSING EX             1
          RELEASE                1
3-5       RTO                 1491
          EUTH                1243
...                            ...
5-7       DISPOSAL              69
          FOSTER                32
          DIED                  14
          MISSING                9
7-9       EUTH                 775
          RTO                  743
          TRANSFER             432
          ADOPTION             207
          DISPOSAL              82
          RELEASED              70
          TRANSPORT             46
          FOSTER                35
          DIED                  14
          MISSING               10
          NO SHOW                1
          RELEASE                1
          RELOCATE               1
>9        EUTH                3027
          RTO                 1056
          TRANSFER             420
          DISPOSAL             295
          ADOPTION             186
          FOSTER                50
          RELEASED              47
          TRANSPORT             35
          DIED                  21
          MISSING               10
          ET PROCESS             1
          NO SHOW                1
          RTF                    1

[78 rows x 1 columns]